@model GB.Models.GameHole

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>GameHole</legend>

    <div class="display-label">CourseHole</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseHole.HoleDescription)
    </div>

    <div class="display-label">TotalHits</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalHits)
    </div>

    <div class="display-label">Putts</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Putts)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
