@model IEnumerable<GB.Models.GolfCourse>
@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<fieldset>
    <div>
        @Html.DropDownList("GolfClubs", "Select Gofl Club")
    </div>
    <br />
    <div id="target">
    </div>
    <div id="log">
    </div>
</fieldset>
<script type="text/javascript">
    $(document).ready(function () {
        $("#GolfClubs").change(function () {
            //            $("#log").ajaxError(function (event, jqxhr, settings, exception) {
            //                alert(exception);
            //            });
            var e = document.getElementById("GolfClubs");
            var golfClubSelected = e.options[e.selectedIndex].value;
            $.get('@Url.Action("GolfCoursesPartial")', { GolfClubID: golfClubSelected }, function (data) {
                $("#target").html(data);
            });

        });
    });
</script>
